<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="XCode_ScheduledImport::XCode_configuration" title="XCode" sortOrder="1">
                    <resource id="XCode_ScheduledImport::scheduledImport_configuration" title="Scheduled Import Setting" sortOrder="1" />
                </resource>                    
            </resource>
        </resources>
    </acl>
</config>