<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="XCode_ScheduledImport::xcode" title="XCODE" module="XCode_ScheduledImport" sortOrder="40" resource="XCode_ScheduledImport::xcode"/>
        <add id="XCode_ScheduledImport::xcode_scheduledimport" title="Scheduled Import" module="XCode_ScheduledImport" sortOrder="10"   parent="XCode_ScheduledImport::xcode" resource="XCode_ScheduledImport::xcode_scheduledimport"/>
        <add id="XCode_ScheduledImport::scheduledimport_Logs" title="Logs and Status" module="XCode_ScheduledImport" sortOrder="99" parent="XCode_ScheduledImport::xcode_scheduledimport"  dependsOnModule="XCode_ScheduledImport" resource="XCode_ScheduledImport::scheduledimport_Logs" action="scheduledimport/Logs"/>
        <add id="XCode_ScheduledImport::xcode_configuration" title="Configuration" module="XCode_ScheduledImport" sortOrder="99" parent="XCode_ScheduledImport::xcode"  resource="XCode_ScheduledImport::xcode_configuration"/>
        <add id="XCode_ScheduledImport::configuration_setting" title="Setting" module="XCode_ScheduledImport" sortOrder="99" parent="XCode_ScheduledImport::xcode_configuration"  resource="XCode_ScheduledImport::configuration_setting" action="adminhtml/system_config/edit/section/scheduledImport_tab"/>
    </menu>
</config>